[user]
  name = JuanLeon Lahoz
  email = juanleon.lahoz@avature.net
  # email = IATS.Merger@avature.net
  # name = IATS Merger
  signkey = 6A1D5802
  signingkey = 6A1D5802

[core]
  editor = /usr/bin/emacsclient --alternate-editor /usr/bin/emacs
  excludesfile = ~/.gitignore.global

[receive]
  denyCurrentBranch = ignore

[color]
  ui = auto
  interactive = auto
  branch = auto
  status = auto
  diff = auto

[color.status]
  current = green bold
  local = green
  remote = red bold
  added = green bold
  changed = yellow bold
  untracked = red
  branch = yellow

[rerere]
  autoupdate = true
  enabled = true

[push]
  default = upstream

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    line-numbers = true
    side-by-side = false

    syntax-theme = Dracula
    plus-style = syntax "#003800"

#    minus-style = syntax "#3f0001"
#    plus-style = "syntax #012800"
#    minus-style = "syntax #340001"
#    syntax-theme = Monokai Extended
#    navigate = true

[interactive]
    diffFilter = delta --color-only

[diff]
    renameLimit = 100000


# [diff]
#   # tool = ediff
#   tool = meld
# 
# [difftool "ediff"]
#   cmd = emacsclient -c -a \"\"  --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"
# 
# [merge]
#   tool = ediff

[mergetool "ediff"]
  cmd = emacsclient -c -a \"\"  --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"

[alias]
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  lt = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  lts = log --pretty=format:"%C(yellow)%h\\ %C(magenta)%ad\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  graph = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''%C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
  lldd = log --pretty=format:"%h\\ %ad%d\\ %Creset%s\\ [%cn]" --decorate --date=relative

  # Debug
  parents = rev-list -1 --merges --parents
  olog = log --oneline --relative-date
  lll = log --pretty=format:"%C(yellow)%h\\ %m\\%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate

[advice]
	detachedHead = false
[gpg]
	program = gpg2
[gitlab "gitlab.xcade.net"]
	user = juanleon.lahoz
[gitlab "gitlab.xcade.net/api/v4"]
	user = juanleon.lahoz
[github "gitlab.xcade.net"]
	user = juanleon.lahoz

[url "git@github.com:"]
	pushinsteadof = https://github.com/
